@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px;
    line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
  }


body, h1, h2, h3, p, ul, li, figure, figcaption, div {
    margin: 0;
    padding: 0;
    border: 0;
}
  
a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
  
.hidden {
    display: none;
}